/* Body element */
body {
    background-color: #000000;
    color: rgba(0, 0, 0, 0.8);
    }
    .light-mode body {
    background-color: #e412e1;
    color: #000000;
    }
    .dark-mode body {
    background-color: #1f11eb;
    color: #000000;
    }
    .gray-mode body {
    background-color: #c9d0d3;
    color: #433422;
    }
    
    /* Active link */
    .router-link-active {
    border-bottom: 2px solid gray;
    }
    .dark-mode .router-link-active {
    border-bottom: 2px solid rgb(29, 244, 90);
    }
    .gray-mode .router-link-active {
    border-bottom: 2px solid rgb(231, 67, 46);
    }
    /* input */
    textarea,
    input, select{
    padding:.5em;
    display: block;
    max-width: auto;
    margin-top: .2em;
    padding: .5em;
    border: 1px solid rgba(111, 109, 109,.2);
    border-radius: 4px;
    background: none;
    }
    .dark-mode textarea,
    .dark-mode input,
    .gray-mode select  {
    border: 1px solid rgba(199, 197, 197, 0.8);
    }
    .gray-mode textarea,
    .gray-mode input,
    .gray-mode select {
    border: 1px solid rgba(41, 41, 45, 0.8);
    } 